body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2%;
    }

ul {
    list-style: none;
    }
    
a {
    text-decoration: none;
    }

.headertwo {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.headerthree {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
} 

.spanlogo {
    color: #2e2f42;
}

.navlink {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;#434455
}

.navlink:hover, .navlink:focus {
    color: #404bbf;
}

.addres {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addres:hover, .addres:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.herotitle {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.herobutton {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.herobutton:hover, .herobutton:focus {
    background-color: #404bbf;
}

.team {
    background-color: #F4F4FD;
}

.teamcard {
    background-color: #ffffff;
}

.footer {
    background-color: #2e2f42;
}

.spanlogofooter {
    color: #F4F4FD;
}

.paragraphfooter {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}