body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2%;
    }

ul {
    list-style: none;
    }
    
a {
    text-decoration: none;
    }

img {
    display: block;
}    

.containerheader {
    border-bottom: 1px solid #e7e9fc; 
    flex-shrink: 0;
}

.container {
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.headertwo {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.headerthree {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu{
    display: inline-flex;
    align-items: center;
}

.menulist {
    display: flex-start;
    gap: 40px;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
} 

.spanlogo {
    color: #2e2f42;
}

.navlink {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;#434455
    
}

.navlink:hover, .navlink:focus {
    color: #404bbf;
}

.addres {
    color: #434455;
    display: flex;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.addres:hover, .addres:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.herotitle {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.herobutton {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.herobutton:hover, .herobutton:focus {
    background-color: #404bbf;
}

.aboutcontainer {
    padding: 120px 0;
}

.about {
    visibility: hidden;
}

.aboutlist {
    gap 24px;
    flex-basis: calc((100%)-72px)/4);  
}

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.teamlist {
    display: flex;
    gap: 24px;
}

.teamcard {
    background-color: #ffffff;
}

.footer {
    background-color: #2e2f42;
}

.spanlogofooter {
    color: #F4F4FD;
}

.paragraphfooter {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}